<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Azureファイル共有サイト</title>
</head>
<body>
    <header>
        <h1><a href="/">Azureファイル共有サイト</a></h1>
        <nav>
            {% if user.is_authenticated %}
                <p>ようこそ、{{ user.username }}さん！</p>
                
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %} 
                    <button type="submit">ログアウト</button>
                </form>
                
            {% else %}
                <a href="{% url 'login' %}">ログイン</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 File Share App</p>
    </footer>
</body>
</html>