{% extends "base.html" %}

{% block content %}
    <h4>ファイルアップロード</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">アップロード</button>
    </form>

    <hr>

    <h4 class="mt-5 mb-3">アップロード済みファイル</h4>

    {% if files %}
    <div class="table-responsive">
        <table class="table align-middle">
            <thead class="">
                <tr>
                    <th scope="col">ファイル名</th>
                    <th scope="col" class="d-none d-sm-table-cell">説明</th>
                    <th scope="col">ユーザー</th>
                    <th scope="col" class="d-none d-md-table-cell">日時</th>
                </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>
                        <a href="{% url 'file_detail' file.pk %}" class="link-primary">
                            {{ file.file.name }}
                        </a>
                    </td>
                    <td class="text-truncate d-none d-sm-table-cell" style="max-width: 250px;">
                        {{ file.description }}
                    </td>
                    <td>
                        {{ file.uploaded_by.username }}
                    </td>
                    <td class="text-muted d-none d-md-table-cell">
                        {{ file.uploaded_at|date:"Y/m/d H:i" }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            まだファイルがアップロードされていません。
        </div>
    {% endif %}
{% endblock %}